.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperatures-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast-icon {
  max-width: 70px;
  max-height: 70px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .WeatherForecast {
    font-size: 12px;
  }

  .WeatherForecast-icon {
    max-width: 60px;
    max-height: 60px;
    display: block;
    margin: 0 auto;
  }
}
